{% extends 'base.html' %}

{% block title %}ABOUT US{% endblock title %}

{% block body %}

<div class="container-fluid px-0">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active ">
                <img src="https://source.unsplash.com/LtNvQHdKkmw/1080x300" class="d-block w-100 px-0" alt="...">
            </div>
        </div>
    </div>
</div>

<h1 class="text-center my-3"></h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="mbr-white col-md-10">
            <h2 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">ABOUT US </h2>
            <hr>
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
                TSF Bank, as a full service universal bank, provides a wide gamut of financial products 
                and services encompassing deposits, loans, payment services and investment solutions. We are committed 
                to understanding our customers’ needs and aim at consistently delivering relevant financial solutions 
                and excellent customer service.
                <br>
                Understanding today’s fast - paced and digital world, we offer an innovative range of digital services 
                that complement our pan-India network of branches and ATMs. Customers can also reach out to us through 
                our 24x7 customer care facilities. We strive to provide our customers with the best possible combination 
                of safety, convenience and innovation in all of our financial products and services.
            </p>

        
            <p class="mbr-text align-center pb-3 mbr-fonts-style display-7">
    
                Dealing with such entities, organizing it in the right categories and maintaining the records aren't the
                simple thing and many schools find it really hard. So, to deal with anything related to libraries, the
                school library management system is an ideal choice since it includes all features in a single package.
                
            </p>
        </div>
    </div>
</div>

{% endblock body %}